:root{
    --main-page-color: rgb(87, 89, 102); 
    --input-color: rgb(236, 239, 245);
}

body{
    background-color: var(--main-page-color);
    font-family: Arial, Helvetica, sans-serif;
}

.calc{
    background-color: var(--main-page-color);
    display: flex;
    margin: 0 auto;
    margin-top: 7.5%;
    border: 5px solid var(--input-color);
    border-radius: 20px;
    width: 70vw;
    height: 65vh;

}

.texto-calc{
    background-color: var(--input-color);
    display: inline-block;
    margin-top: 10px;
    margin-left: 15px;
    padding: 1vh 57vw 1vh 0.5vw;
    font-size: 20px;
}

.numeros{
    display: flex;
    flex-direction: row;
    margin: 1vh 0 1vh 1vw;
    font-size: 16px;
}

.num{
    width: 16.5vw;
}

.op{
    margin: 0 8.1vw;
    width: 5vw;    
}

label,.num,.op{
    border-radius: 7px;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.num1, .num2{
    background-color: var(--input-color);
    text-align: center;
}

.enviar{
    text-align: left;
    background-color: var(--input-color);
    margin: 0 1vw;
    border-radius: 7px;
    width: 5vw;
    height: 4vh;
    padding-left: 0.5vw;
    font-size: 16px;
}

.mostrar{
    display: flex;
    background-color: var(--input-color);
    width: 67vw;
    height: 4vh;
    margin: 1vh 0 1vh 1vw;
    border-radius: 7px;
    text-align: left;
    padding: 0.3vh 0 0.3vh 0.5vw;
    align-items: center;
}

.salvar{
    width: 4vw;
}

.pegar{
    width: 8vw;
}

.m{
    width: 2vw;
}

.apagar{
    width: 9vw;
}

.texto-hist{
    background-color: var(--input-color);
    margin: 1vh 0 1vh 1vw;
    border-radius: 7px;
    padding: 0.3vh 0 0.3vh 0.5vw;
    font-size: 20px;
}

.mostrar-hist{
    align-items: flex-start;
    height: 29vh;
}